ul > a, ul > a:hover {
    text-decoration: none;
    color: black;
}

img {
    min-height: 200px;
    max-height: 200px;
    min-width: 100%;

    object-fit: cover;
    object-position: 20% 10%;
}

.posts {
    margin-right: 2rem;
}