<%- layout('layout/boilerplate') %> 

<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">

            <div class="card shadow" style="overflow:hidden">
            
                <div class="card-body">

                    <h5 class="card-title text-center">Create Account</h5>

                </div>

                <form action="/register" method="post" class="validate-client mb-3">
                
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="username">Name</span>
                        <input type="text" class="form-control" id="username" name="username" required>
                        <div class="valid-feedback">
                            Valid!
                        </div>
                    </div>
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="email">email</span>
                        <input type="email" class="form-control" id="email" name="email" required>
                        <div class="valid-feedback">
                            Valid!
                        </div>
                    </div>
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="password">Password</span>
                        <input type="password" class="form-control" id="password" name="password" required>
                        <div class="valid-feedback">
                            Valid!
                        </div>
                    </div>

                    <button class="btn btn-success text-center">SIGN UP</button>
                    
                </form>
                
            </div>

        </div>

    </div>

</div>